<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battles.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,48},{171,52}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{171,52}}</string>
                <key>sourceSize</key>
                <string>{187,62}</string>
            </dict>
            <key>confirm_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{383,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{383,96}}</string>
                <key>sourceSize</key>
                <string>{393,110}</string>
            </dict>
            <key>explosion_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,610},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>explosion_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>explosion_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,79},{59,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{59,69}</string>
            </dict>
            <key>explosion_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,473},{84,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,93}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>explosion_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,538},{97,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{97,110}}</string>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>explosion_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,428},{108,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,123}}</string>
                <key>sourceSize</key>
                <string>{108,123}</string>
            </dict>
            <key>explosion_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{119,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,128}}</string>
                <key>sourceSize</key>
                <string>{119,128}</string>
            </dict>
            <key>mine_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,525},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>mine_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,385},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>mine_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,221},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>mine_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,568},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>mine_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,593},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>mine_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,568},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>mine_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,570},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>opponent_shoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{390,72}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{390,72}}</string>
                <key>sourceSize</key>
                <string>{420,100}</string>
            </dict>
            <key>explosion_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,606},{33,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{33,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>ship1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,430},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>ship2_hoz.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,428},{86,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,43}}</string>
                <key>sourceSize</key>
                <string>{86,43}</string>
            </dict>
            <key>ship2_ver.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,400},{43,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,86}}</string>
                <key>sourceSize</key>
                <string>{43,86}</string>
            </dict>
            <key>ship3_hoz.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,394},{129,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,43}}</string>
                <key>sourceSize</key>
                <string>{129,43}</string>
            </dict>
            <key>ship3_ver.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,263},{43,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,129}}</string>
                <key>sourceSize</key>
                <string>{43,129}</string>
            </dict>
            <key>ship4_hoz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{172,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{172,41}}</string>
                <key>sourceSize</key>
                <string>{172,43}</string>
            </dict>
            <key>ship4_ver.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,385},{41,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,172}}</string>
                <key>sourceSize</key>
                <string>{43,172}</string>
            </dict>
            <key>view_finder.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,488},{103,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,106}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{372,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{372,132}}</string>
                <key>sourceSize</key>
                <string>{390,144}</string>
            </dict>
            <key>you_shoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,150},{248,58}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,20},{248,58}}</string>
                <key>sourceSize</key>
                <string>{420,100}</string>
            </dict>
            <key>you_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{453,75}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{453,75}}</string>
                <key>sourceSize</key>
                <string>{481,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf5005cb8ded3afa1003796394d9dd55$</string>
            <key>textureFileName</key>
            <string>gui.png</string>
        </dict>
    </dict>
</plist>
